@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fjord+One&display=swap');
@import url("./fonts/ScriptMTBold.ttf");

:root {
    --primary-color: #6b3a38;
    --secondary-color: #212738;
    --text-color: #fff;
    --attention-color: #F97068;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--text-color);
}

body {
    font-family: "Fjord One", serif;
    position: relative;
    background: rgb(53,62,88);
    background: linear-gradient(135deg, rgba(53,62,88,1) 0%, rgba(33,39,56,1) 50%, rgba(17,20,28,1) 100%);
    height: 100%;
    overflow-x: hidden;
}

.english {
    display: block;
}

.polish {
    display: none;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------------- Navigation ---------------- */

.nav-container {
    position: absolute;
    top: 100vh;
    width: 100%;
    height: calc(100% - 100vh);
}

.sticky-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 200;
}

.nav {
    width: 100%;
    justify-content: flex-end;
    height: 9vh;
    z-index: 200;
    background-color: var(--secondary-color);
    /* transition: background 100ms ease-in; */
    box-shadow: 0px 2px 15px black;
}

.nav-links {
    list-style: none;
    height: 100%;
    width: 40%;
}

.link-box {
    height: 100%;
    width: 25%;
}

.nav .link, .logo {
    text-shadow: 0px 0px 5px black;
}


.link span {
    font-family: "Script MT", serif;
    color: white;
    font-size: 30px;
    padding: 20px;
    text-transform: lowercase;
}

.logo {
    margin-right: auto;
    padding: 10px 50px;
    font-size: 40px;
    font-family: "Script MT";
    background: none;
    border: none;
    color: white;
}

.flag-container {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border: 2px solid var(--text-color);
    border-radius: 20%;
    margin: 0 10px;
    box-shadow: 2px 2px 5px black;
    transition: transform 200ms ease-in;
    cursor: pointer;
    position: relative;
}

.flag-container:hover {
    transform: translateY(10%);
}

.flag {
    width: 200%;
    height: 100%;
}

/* ---------------- Sections ---------------- */

.section {
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh;
    
}

.section h3 {
    font-weight: lighter;
}

.section-header {
    padding: 20px;
    font-size: 50px;
    text-transform: lowercase;
    font-family: "Script MT", serif
}

.main-container {
    width: 100%;
    flex: 1;
    flex-direction: column;
    padding: 40px;
}

/* ---------------- Home page ---------------- */

.main {
    flex-direction: column;
    height: 100vh;
    position: relative;
    width: 100%;
    z-index: 1;
    background: url(/images/wall.jpg);
    background-size: cover;
    background-position: center;
}

.main:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: #000000c5; */
    z-index: -1;

}

.screen {
    width: 100%;
    height: 90%;
    z-index: 10;
}


.counter {
    position: absolute;
    bottom: -88%;
    width: 200%;
    left: -50%;
    z-index: -1;
}

.phone-img {
    width: 16%;
    position: absolute;
    bottom: -2%;
    left: -10%;
    z-index: 10;
}


.phone-img img {
    width: 100%;
    transform: rotate(30deg);
    transition: all 500ms ease;
    cursor: pointer;
    filter: drop-shadow(2px 2px 5px black)
}

.phone-img:hover::before {
    display: block;
}

.phone-img:hover img {
    filter: drop-shadow(5px 5px 10px black) drop-shadow(-5px -5px 10px black) saturate(3);
    transform: rotate(20deg) translateY(-10%);
}

.phone-img::before {
    content: "contact me";
    position: absolute;
    top: -70%;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 101;
    color: white;
    font-size: 20px;
    font-family: "Fjord One";
    background-color: #212738;
    text-transform: uppercase;
    display: none;
    padding: 20px
}

.hand-img {
    width: 17%;
    position: absolute;
    bottom: 2%;
    right: -8%;
    z-index: 10;
    cursor: pointer;
    transition: all 500ms ease;
    filter: drop-shadow(2px 2px 2px black);
    transform: rotate(10deg);
}

.hand::before {
    content: "SKILLS";
    position: absolute;
    bottom: 20%;
    right: -8%;
    width: 17%;
    text-align: center;
    z-index: 101;
    color: white;
    font-size: 20px;
    font-family: "Fjord One";
    background-color: #212738;
    display: none;
    padding: 20px;
    font-weight: lighter;
}

.hand:hover::before {
    display: block;
}

.hand {
    
}

.hand-img:hover {
    /* filter: drop-shadow(5px 5px 10px black) drop-shadow(-5px -5px 10px black); */
    animation: mouse 1200ms ease-in infinite;
}

@keyframes mouse {
    0% {
        transform: rotate(10deg) translate(0%, 0);
    }
    25% {
        transform: rotate(10deg) translate(10%, 0);
    }
    50% {
        transform: rotate(10deg) translate(10%, 10%);
    }
    75% {
        transform: rotate(10deg) translate(0%, 10%)
    }
    100% {
        transform: rotate(10deg) translate(0%, 0%);
    }
}

.keyboard {
    position: absolute;
    /* -webkit-perspective: 825px;
    perspective: 825px; */
    bottom: -2%;
    left: 21%;
    width: 58%;
}

.keyboard-img {
    width: 100%;
    z-index: 10;
    /* -webkit-transform: rotateX(32deg) rotateY(1deg);
    transform: rotateX(32deg) rotateY(1deg); */
    cursor: pointer; 
}

.keyboard::before {
    content: "ABOUT ME";
    position: absolute;
    top: 30%;
    right: 50%;
    font-size: 20px;
    width: 25%;
    transform: translateX(50%);
    z-index: 101;
    padding: 20px;
    text-align: center;
    background-color: var(--secondary-color);
    display: none;
}

.keyboard:hover::before {
    display: block;
}

.keyboard-img:hover {
    filter: drop-shadow(5px 5px 10px black) drop-shadow(-5px -5px 10px black);
}

.off-button {
    height: 2%;
    color: black;
    position: absolute;
    top: 77%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 50%;
    transform: translateX(50%);
    padding: 20px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 2em;
    border: 1px solid black;
}

.off-button:active i {
    color: var(--attention-color);
}

.off-button i {
    color: black;
    font-size: 20px;
}

.vid-steering-grid {
    position: absolute;
    top: 4.2%;
    left: 3.5%;
    width: 93%;
    height: 65%;
    display: grid;
    grid-template: 1fr 1fr 1fr /1fr 1fr 1fr;
    z-index: 10;
}

.steer {
    width: 100%;
    height: 100%;
}

.vid-wrapper {
    width: 60%;
    max-width: 1200px;
    position: relative;
}

.video {
    position: absolute;
    top: 3.4%;
    left: 2%;
    width: 96%;
    /* animation: goin 1500ms forwards ease-in; */
    z-index: -1;
    transition: left 500ms ease-in, top 500ms ease-in, filter 1000ms ease-in;
}

.video-black {
    position: absolute;
    top: 3.4%;
    left: 2%;
    width: 96%;
    height:66%;
    background-color: black;
    z-index: -2;
}

@keyframes goin {
    0% {
        width: 0%;
        height: 0%;
    }

    100% {
        width: 20%;
        height: 20%;
    }
}

/* @media (min-aspect-ratio: 16/9) {
    .video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video { 
        width: auto;
        height: 120%;
    }
} */

@media (max-width: 767px) {
    .video {
        display: none
    }
    .vid-wrapper {
        background: url(images/neon-img.png);
        background-position: center;
        background-size: cover;
        transition: none;
    }
    .vid-steering-grid {
        display: none;
    }
}

.main-header {
    color: var(--secondary-color);
    font-family: "Script MT", serif;
    font-size: 100px;
    font-weight: 500;
    width: 100%;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 25%;

}

.main-header span {
    font-size: 30px;
    color: var(--primary-color);
}

.main-button {
    background-color: #2127387e;
    color: white;
    width: 25%;
    font-size: 22px;
    padding: 20px 0;
    font-family: "Fjord One", serif;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    z-index: 50;
    overflow: hidden;
    transition: color 400ms ease-in;
    position: absolute;
}

.main-button:before {
    content: "";
    background-color: var(--secondary-color);
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: translateY(100%);
    transition: transform 200ms ease-in;
    transition-delay: 0.3s;
    
}

.main-button:after {
    content: "";
    width: calc(100% - 4px);
    height: 0%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    border-left: 2px solid var(--secondary-color);
    border-right: 2px solid var(--secondary-color);
    transition: height 200ms ease-in;
}

.main-button:hover {
    color: var(--attention-color);
}

.main-button:hover::before {
    transform: translateY(0);
}

.main-button:hover:after {
    height: 100%;
}

.about {
    flex-direction: column;
}

.projects {
    position: relative;
    flex-direction: column;
    margin-top: 10vh;
}

.skills {
    flex-direction: column;
}

.contact {

}

/* ---------------- Projects ---------------- */

.projects-grid {
    height: 100%;
    color: black;
    display: grid;
    grid-template: 250px 250px/350px 350px 350px;
    background-color: var(--secondary-color);
    grid-gap: 25px;
    justify-items: center;
    margin-top: 2%;
    background-color: #c4c4c405;
    padding: 50px;
}

.projects-grid-wrapper {
    position: relative;
    cursor: pointer;
    transition: 150ms ease-in all;
    z-index: 1;
    height: 100%;
    width: 100%;
    -webkit-filter: grayscale(50%);
            filter: grayscale(50%);
    transition: -webkit-filter 500ms ease-in;
    transition: filter 500ms ease-in;
    transition: filter 500ms ease-in, -webkit-filter 500ms ease-in;
}

.projects-grid-item {
    outline: 0;
    height: 100%;
    width: 100%;
    text-decoration: none;
    position: relative;
    top:0;
    left:0;
    box-shadow:0px 0px 0px 0px black;
    transition: all 150ms ease-in;
    border-color:inherit;
    background-color: var(--secondary-color);
    overflow: hidden;
    border: 2px solid black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 200ms ease-in;
}

.projects-grid-item[data-item="portfolio"] {
    background-image: url(/images/neon2.png);
}

.projects-grid-item[data-item="businessPage"] {
    background-image: url(/images/fakelawyers.png);
    
}

.projects-grid-item[data-item="clocks"] {
    background-image: url(/images/clock1.png);
    background-position: 50% 85%;
}

.projects-grid-item[data-item="medicineBox"] {
    background-image: url(/images/newmedicine1.png);
    background-position: 0% 50%;
}

.projects-grid-item[data-item="memoryGame"] {
    background-image: url(/images/memo2.png)
}

.projects-grid-item[data-item="dorian"] {
    background-image: url(/images/dorian.png)
}

.projects-grid-item::after, .projects-grid-item::before {
    content:'';
    position:absolute;
    border-style:solid;
    border-width: 5px;
    transition: all 150ms ease-in;
    z-index:-1;
}

.projects-grid-item::before {
    bottom:0px; 
    left:0px;
    border-left-color:transparent;
    border-bottom-color:transparent;
    border-right-color:black;
    border-top-color:black;
    
}

.projects-grid-item::after {
    top:0; 
    right:0;
    border-left-color:black;
    border-bottom-color:black;
    border-right-color:transparent;
    border-top-color:transparent;
}

.projects-grid-wrapper:before, .projects-grid-wrapper:after {
    content:'';
    position:absolute;
    border-style:solid;
    border-width:5px;
    transition: all 150ms ease-in;
    z-index:-2;
}
.projects-grid-wrapper:after {
    top:0; 
    right:0;
    border-left-color:black;
    border-bottom-color:black;
    border-right-color:transparent;
    border-top-color:transparent;
}   
.projects-grid-wrapper:before {
    bottom:0px; 
    left:0px;
    border-left-color:transparent;
    border-bottom-color:transparent;
    border-right-color:black;
    border-top-color:black;
}

.projects-grid-wrapper:hover {
    -webkit-filter: none;
            filter: none;
    
}

.projects-grid-wrapper:hover .projects-grid-item, .projects-grid-item:focus {
    top:-10px;
    left:-10px; 
    box-shadow:10px 10px 0px 0px black;
    
}
.projects-grid-wrapper:hover:after, .projects-grid-item:focus .projects-grid-wrapper:after {
    top:-10px;
}

.projects-grid-wrapper:hover:before, .projects-grid-item:focus .projects-grid-wrapper:after {
    left:-10px;
}               

.projects-grid-wrapper:hover .projects-grid-item:after, .projects-grid-item:focus .projects-grid-item:after {
    right:-10px;
}

.projects-grid-wrapper:hover .projects-grid-item:before, .projects-grid-item:focus .projects-grid-item:before {
    bottom:-10px;
}

/* Projects modal */

.modal {
    position: fixed;
    top: 15%;
    left: 20%;
    width: 60%;
    height: 70%;
    box-shadow: 4px 4px 10px black;
    background-color: inherit;
    background-position: top;
    background-size: cover;
    flex-direction: column;
    justify-content: space-around;
    z-index: 101;
    display: none;
    overflow: hidden;
    padding: 40px
}

.modal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 102;
    background-color: var(--secondary-color);
    opacity: 0.5;
}

.modal-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 100;
    display: none;
}

.modal-title {
    font-size: 25px;
    z-index: 103;
    color: var(--attention-color);
}

.modal-exit {
    z-index: 103;
    position: absolute;
    top: 4%;
    right: 4%;
}

.modal-exit i {
    font-size: 40px;
    color: var(--attention-color);
    cursor: pointer;
}

.modal ul {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    list-style-type: none;
    grid-gap: 10px;
}

.modal ul li {
    background-color: var(--primary-color);
    border-radius: 10px;
    font-size: 15px;
    padding: 20px;
}

.modal p, .modal ul {
    padding: 10px;
    z-index: 103;
    background-color: var(--secondary-color);
}

.modal p, .modal li {
    font-size: 16px;
    line-height: 2;
}

.modal-buttons {
    z-index: 103;
    width: 50%;
    justify-content: space-between;

}

.modal-button {
    background-color: var(--secondary-color);
    color: var(--attention-color);
    width: 40%;
    border-radius: 20px;
    z-index: 103;
    padding: 20px;
    border: 2px solid white;
}

.modal-button:hover {
    background-color: var(--primary-color);
}

/* About */

.about-row {
    width: 100%;
}

.about-row img {
    width: 400px;
    margin-right: 2%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 350px;
}

.about-description {
    flex: 1;
    background-color: #c4c4c405;
    padding: 20px;
    height: 100%;
}

.about-description p {
    font-size: 18px;
    line-height: 1.5;
}

.about-skills {
    background-color: #c4c4c405;
    width: 100%;
    margin: 2% 0;
    flex-direction: column;
    padding: 20px;
    flex: 1;
}

.about-skills h3 {
    font-size: 20px;
    padding: 20px;
}

.about-technologies {
    list-style-type: none;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.about-item {
    flex-direction: column-reverse;
    height: 100%;
    justify-content: flex-start;
    position: relative;
    padding: 10px;
    transition: transform 300ms ease-in;
}

.about-item p {
    padding: 10px;
}

.short {
    height: 90px;
}

.img-holder {
    flex-direction: column;
    flex: 1;
}

.about-item:hover {
    transform: translateY(-4%);
    background-color: var(--secondary-color);
}

.smaller {
    height: 45px;
}

/* Contact */

.contact-form {
    flex-direction: column;
    background-color: rgba(196, 196, 196, 0.1);
    height: 80%;
    padding: 20px;
    z-index: 200;
}

.contact-form input, .message {
    font-size: 18px;
    font-family: "Fjord One", serif;
    padding: 5px;
    color: black;
}

.name-group {
    margin-bottom: 20px;
    width: 100%;
    justify-content: space-between;
}

.name {
    margin-right: 20px;
}

.subject {
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
}

.message {
    font-size: 18px;
    font-family: "Fjord One", serif;
    height: 150px;
    width: 100%;
    padding: 5px;
}

.submit {
    padding: 25px;
    background-color: var(--secondary-color);
    width: 35%;
    margin: 30px 30px 10px 30px;
    font-size: 18px;
    cursor: pointer;
    transition: border-radius 200ms ease-in;
    border: 2px solid transparent;
}

.submit:hover {
    border: 2px solid var(--attention-color);
}