@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fjord+One&display=swap');

@import url("./fonts/ScriptMTBold.ttf");

:root {
    --primary-color: #6b3a38;
    --secondary-color: #212738;
    --text-color: #fff;
    --attention-color: #F97068;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--text-color);
}

body {
    font-family: "Fjord One", serif;
    width: 100%;
    max-height: 100vh;
}

.english {
    display: block;
}

.polish {
    display: none;
}

/* ---------------- Navigation ---------------- */

.nav {
    position: fixed;
    background: rgba(33, 39, 56, 0.6);
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    z-index: 2;
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: center;
    height: 100%;
    width: 40%;
    margin-right: 10vh;
}


.link-box {
    height: 100%;
    transition: 400ms ease-in transform;
    overflow: hidden;
    display: grid;
    grid-template: 1fr/1fr;
    width: 25%;
    
}

.link-box:hover > .link-box-half{
    transform: translateY(-100%);
    transition: 400ms ease-in transform;
}

.link-box-half {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 400ms ease-in transform;
}

.link-box-half i {
    font-size: 35px;
    color: var(--attention-color);
    text-align: center;
}

.link-box-half span {
    color: var(--attention-color);
}

.link {
    color: var(--attention-color);
    font-family: "Fjord One", serif;
    font-size: 25px;
    cursor: pointer;
}

.logo {
    margin-right: auto;
    padding: 10px 50px;
    font-size: 40px;
    font-family: "Script MT";
    background: none;
    border: none;
    color: var(--text-color);
}



/* ---------------- Scrollable Frame ---------------- */

.main-wrapper {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    position: relative;
}

#scroll-wrapper {
    width: 100%;
    height: 300vh;
    transition: ease-in 1s transform;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    position: relative;
}

.arrow {
    width: 5%;
    height: 50px;
    background-color: var(--primary-color);
    position: absolute;
    z-index: 3;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 0;
    border: 3px solid var(--attention-color);
    color: var(--attention-color);
    display: none;
}

#top {
    top: 0%;
    left: 47.5%;
}

#bottom {
    bottom: 0%;
    left: 47.5%;
}

.top-bar {
    top: 0;
}

.bottom-bar {
    bottom: 0;
    justify-content: flex-end;
    padding-right: 5%;
}

.left-bar {
    left: 0;
    width: 10vh;
    height: 80vh;
    top: 10vh;
}
.right-bar {
    width: 10vh;
    height: 80vh;
    right: 0;
    top: 10vh;
    z-index: 0;
}

.flag-container {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border: 2px solid var(--text-color);
    border-radius: 20%;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px black;
    transition: transform 200ms ease-in;
    cursor: pointer;
}

.flag-container:hover {
    transform: translateY(10%);
}

.flag {
    width: 200%;
}

.bottom-bar span {
    font-size: 20px;
}


/* ---------------- Sections ---------------- */

.section {
    height: 100vh;
    background-color: var(--secondary-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh;
}

/* ---------------- Home page ---------------- */

.main {
    background-color: var(--secondary-color);
    background-image: url(./images/balance.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-row: 1/2;
    grid-column: 1/2;
}

.main-header {
    color: var(--text-color);
    font-family: "Fjord One", serif;
    font-size: 50px;
    font-weight: 500;
    position: relative;
    width: 60%;
    text-align: center;
    line-height: 100px;
}

.main-button {
    background-color: var(--secondary-color);
    color: var(--attention-color);
    border-radius: 25px;
    width: 20%;
    border: none;
    font-size: 25px;
    padding: 20px;
    font-family: "Fjord One", serif;
    margin-top: 25vh;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.about {
    grid-column: 1/2;
    grid-row: 4/5;
}

.projects {
    grid-column: 1/2;
    grid-row: 2/3;
}

.skills {
    grid-column: 1/2;
    grid-row: 3/4;
}

.contact {
    grid-row: 5/6
}

/* ---------------- Projects ---------------- */

.projects-grid {
    width: 100%;
    height: 100%;
    color: black;
    display: grid;
    grid-template: 1fr 2fr 2fr/1fr 1fr 1fr;
    grid-template-areas: ". | title | .";
    background-color: var(--secondary-color);
    grid-gap: 25px;
    padding: 10px;
    justify-items: center;
}

.projects-grid h2 {
    grid-row: 1/2;
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}

.projects-grid-wrapper {
    width: 50%;
    height: 80%;
    position: relative;
    cursor: pointer;
    transition: 100ms ease-in all;
    z-index: 1;
}

.projects-grid-item {
    outline: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    top:0;
    left:0;
    box-shadow:0px 0px 0px 0px black;
    transition: all 200ms ease-in;
    background-color:inherit;
    border-color:inherit;
    background-color: var(--attention-color);
}

.projects-grid-item img {
    width: 50%;
}

.projects-grid-item::after, .projects-grid-item::before {
    content:'';
    position:absolute;
    border-style:solid;
    border-width: 5px;
    transition: all 200ms ease-in;
    z-index:-1;
}

.projects-grid-item::before {
    bottom:0px; 
    left:0px;
    border-left-color:transparent;
    border-bottom-color:transparent;
    border-right-color:black;
    border-top-color:black;
    
}

.projects-grid-item::after {
    top:0; 
    right:0;
    border-left-color:black;
    border-bottom-color:black;
    border-right-color:transparent;
    border-top-color:transparent;
}

.projects-grid-wrapper:before, .projects-grid-wrapper:after {
    content:'';
    position:absolute;
    border-style:solid;
    border-width:5px;
    transition: all 200ms ease-in;
    z-index:-2;
}
.projects-grid-wrapper:after {
    top:0; 
    right:0;
    border-left-color:black;
    border-bottom-color:black;
    border-right-color:transparent;
    border-top-color:transparent;
}
.projects-grid-wrapper:before {
    bottom:0px; 
    left:0px;
    border-left-color:transparent;
    border-bottom-color:transparent;
    border-right-color:black;
    border-top-color:black;
}

.projects-grid-wrapper:hover .projects-grid-item, .projects-grid-item:focus {
    top:-10px;
    left:-10px;
    box-shadow:10px 10px 0px 0px black; 
}
.projects-grid-wrapper:hover:after {
    top:-10px;
}

.projects-grid-wrapper:hover:before {
    left:-10px;
}

.projects-grid-wrapper:hover .projects-grid-item:after {
    right:-10px;
}

.projects-grid-wrapper:hover .projects-grid-item:before {
    bottom:-10px;
}
