@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Fjord+One&display=swap');
@import url("./fonts/ScriptMTBold.ttf");

:root {
    --primary-color: #fff;
    --secondary-color: #e5e5e5;
    --text-color: #000;
    --attention-color: #860505;
    --background: #fff;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--text-color);
}

body {
    font-family: "Poppins", sans-serif;
    position: relative;
    height: 100%;
    overflow-x: hidden;
}

.english {
    display: block;
}

.polish {
    display: none;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------------- Navigation ---------------- */

.nav {
    width: 100%;
    justify-content: flex-end;
    height: 9vh;
    z-index: 200;
    background-color: var(--text-color);
    transition: background 100ms ease-in;
    position: fixed;
    top: 0;
    box-shadow: 0px 0px 15px black;
}

.nav-links {
    list-style: none;
    height: 100%;
    width: 40%;
    margin-right: 5vw;
}

.link-box {
    height: 100%;
    width: 20%;
}


.link span {
    font-size: 18px;
    padding: 0px 20px;
    text-transform: lowercase;
    color: var(--primary-color);
    height: 100%;
    position: relative;
}

.link span::after, .link span::before {
    content: "";
    height: 0px;
    width: 0%;
    position: absolute;
    bottom: -50%;
    z-index: 15;
    border-top: 4px solid var(--attention-color);
    transition: 150ms ease-in all;
    transition-delay: 0s;
}

.link span::after {
    left: 10%;
}

.link span::before {
    right: 10%;
    transition-delay: 0.16s;
}

.link span:hover::after {
    width: 80%
}

.link span:hover::before {
    width: 80%
}

.logo {
    margin-left: 5vw;
    margin-right: auto;
    padding: 10px 50px;
}

.logo a {
    color: var(--primary-color);
    font-size: 35px;
    font-family: "Script MT";
}

.flag-container {
    width: 25px;
    height: 25px;
    overflow: hidden;
    border: 2px solid var(--primary-color);
    border-radius:50%;
    margin: 0 10px;
    transition: transform 200ms ease-in;
    cursor: pointer;
    position: relative;
}

.flag-container:hover {
    transform: translateY(10%);
}

.flag {
    width: 200%;
    height: 100%;
}

/* ---------------- Sections ---------------- */

.section {
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5vw;
    
}

.section__header {
    margin-top: 12vh;
    font-size: 35px;
    text-transform: lowercase;
    font-family: "Script MT", serif;
    border-bottom: 5px solid var(--attention-color);
}

.section__subheader {
    font-weight: lighter;
    padding: 20px;
}

.main-container {
    width: 100%;
    flex: 1;
    flex-direction: column;
    padding: 40px;
}

/* ---------------- Home page ---------------- */

.main {
    height: 100vh;
    position: relative;
    width: 100%;
    z-index: 1;
}

.showcase {
    width: 100%;
    position: relative;
    background-color: #fff;
    z-index: 1;
    max-width: 1500px;
}

.main::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 0;
    /* background: linear-gradient(270deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 15.1%, rgba(0, 0, 0, 0) 86.46%, rgba(0, 0, 0, 0.1) 100%);
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 17.71%, rgba(0, 0, 0, 0) 82.81%, rgba(0, 0, 0, 0.15) 100%); */
}

.screen {
    width: 100%;
    height: auto;
    z-index: 3;
}

.off-button {
    height: 2vw;
    width: 2vw;
    color: black;
    position: absolute;
    top: 56.8%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 49.9%;
    transform: translateX(50%);
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid black;
    z-index: 10;
}

.off-button:active i {
    color: var(--attention-color);
}

.off-button i {
    color: black;
    font-size: 18px;
}

.vid-steering-grid {
    position: absolute;
    top: 22%;
    left: 50%;
    width: 43%;
    height: 40%;
    transform: translateX(-50%);
    display: grid;
    grid-template: 1fr 1fr 1fr /1fr 1fr 1fr;
    z-index: 10;
}

.steer {
    width: 100%;
    height: 100%;
}

.video {
    position: absolute;
    top: 23%;
    left: 50%;
    width: 45%;
    transform: translateX(-50%);
    /* animation: goin 1500ms forwards ease-in; */
    z-index:-1;
    transition: left 500ms ease-in, top 500ms ease-in, filter 1000ms ease-in;
}

.video-black {
    position: absolute;
    top: 22%;
    left: 50%;
    width: 43%;
    height: 40%;
    transform: translateX(-50%);
    background-color: black;
    z-index: -2;
}

@keyframes goin {
    0% {
        width: 0%;
        height: 0%;
    }

    100% {
        width: 20%;
        height: 20%;
    }
}

/* @media (min-aspect-ratio: 16/9) {
    .video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video { 
        width: auto;
        height: 120%;
    }
} */

@media (max-width: 767px) {
    .video {
        display: none
    }
    .vid-wrapper {
        background: url(images/neon-img.png);
        background-position: center;
        background-size: cover;
        transition: none;
    }
    .vid-steering-grid {
        display: none;
    }
}

.main__header, .main__subheader {
    color: var(--text-color);
    font-family: "Script MT", serif;
    font-size: 85px;
    font-weight: 500;
    width: 100%;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 34%;
    z-index: 5;
}

.animated {
    animation: appear 300ms ease-in forwards;
    opacity: 0;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.main__subheader {
    font-size: 25px;
    color: #860505;
    top: 42%;
}

.main__button {
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-size: 22px;
    padding: 20px 25px;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    z-index: 5;
    overflow: hidden;
    transition: color 400ms ease-in;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px black;

}

.main__button:before {
    content: "";
    background-color: var(--attention-color);
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    top: 0;
    z-index: -1;
    transform: translateX(-100%);
    transition: transform 200ms ease-in;
    transition-delay: 0s;
}

.main__button:after {
    content: "";
    background-color: var(--attention-color);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transform: translateX(100%);
    transition: transform 200ms ease-in;
    transition-delay: 0.2s;
}

.main__button:hover {
    color: var(--primary-color);
}

.main__button:hover::before {
    transform: translateX(0);
}

.main__button:hover:after {
    transform: translateX(0);
}

.about {
    flex-direction: column;
}


.skills {
    flex-direction: column;
}

.contact {

}

/* ---------------- Projects ---------------- */

.projects {
    flex-direction: column;
    position: relative;
    justify-content: center;
    background-color: #fff;
}

.projects::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    background-color: var(--background);
    z-index: 5;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.projects__container {
    width: 80%;
    justify-content: center;
    margin: 5vh 0;
    background-color: #e5e5e5;
    border-radius: 10px;
}

/* .projects__container:nth-child(odd) {
    flex-direction: row-reverse;
} */

.container__box--left {
    width: 30%;
    position: relative;
}

.projects__img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0px 0px 2px #fdecec6b);
}

.container__box--right {
    width: 50%;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.technologies {
    width: 100%;
    padding: 20px;
    list-style-type: none;
}

.technologies__item {
    width: 100px;
    height: 30px;
    background-color: #fff;
    font-size: 16px;
    margin: 0 5px;
}

.projects__title {
    padding: 20px;
    width: 100%;
    font-size: 28px;
    text-align: center;
    font-weight: normal;
}

.projects__description {
    line-height: 1.5;
    font-size: 16px;
    padding: 20px;
    margin-top: 5%;
}

.project__buttons {
    width: 100%;
    padding: 20px;
}

.projects__button {
    border: 2px solid var(--attention-color);
    width: 130px;
    height: 50px;
    color: var(--attention-color);
    font-size: 18px;
    border-radius: 10px;;
    margin: 20px;
    transition: all 300ms ease-in;
    text-transform: lowercase;
}

.projects__button:hover {
    background-color: var(--attention-color);
    color: #fff;
}

.projects__scroll {
    position: sticky;
    top: 0;
    list-style-type: none;
    flex-direction: column;
}

.scroll__item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #c4c4c4;
    font-family: "Script MT";
    font-size: 30px;
    margin: 20px;
    cursor: pointer;
}

.scroll__item:first-child {
    background-color: #fff;
}


.projects-grid-item[data-item="portfolio"] {
    background-image: url(/images/neon2.png);
}

.projects-grid-item[data-item="businessPage"] {
    background-image: url(/images/fakelawyers.png);
    
}

.projects-grid-item[data-item="clocks"] {
    background-image: url(/images/clock1.png);
    background-position: 50% 85%;
}

.projects-grid-item[data-item="medicineBox"] {
    background-image: url(/images/newmedicine1.png);
    background-position: 0% 50%;
}

.projects-grid-item[data-item="memoryGame"] {
    background-image: url(/images/memo2.png)
}

.projects-grid-item[data-item="dorian"] {
    background-image: url(/images/dorian.png)
}

.projects-grid-item::after, .projects-grid-item::before {
    content:'';
    position:absolute;
    border-style:solid;
    border-width: 5px;
    transition: all 150ms ease-in;
    z-index:-1;
}

.projects-grid-item::before {
    bottom:0px; 
    left:0px;
    border-left-color:transparent;
    border-bottom-color:transparent;
    border-right-color:black;
    border-top-color:black;
    
}

.projects-grid-item::after {
    top:0; 
    right:0;
    border-left-color:black;
    border-bottom-color:black;
    border-right-color:transparent;
    border-top-color:transparent;
}

.projects-grid-wrapper:before, .projects-grid-wrapper:after {
    content:'';
    position:absolute;
    border-style:solid;
    border-width:5px;
    transition: all 150ms ease-in;
    z-index:-2;
}
.projects-grid-wrapper:after {
    top:0; 
    right:0;
    border-left-color:black;
    border-bottom-color:black;
    border-right-color:transparent;
    border-top-color:transparent;
}   
.projects-grid-wrapper:before {
    bottom:0px; 
    left:0px;
    border-left-color:transparent;
    border-bottom-color:transparent;
    border-right-color:black;
    border-top-color:black;
}

.projects-grid-wrapper:hover {
    -webkit-filter: none;
            filter: none;
    
}

.projects-grid-wrapper:hover .projects-grid-item, .projects-grid-item:focus {
    top:-10px;
    left:-10px; 
    box-shadow:10px 10px 0px 0px black;
    
}
.projects-grid-wrapper:hover:after, .projects-grid-item:focus .projects-grid-wrapper:after {
    top:-10px;
}

.projects-grid-wrapper:hover:before, .projects-grid-item:focus .projects-grid-wrapper:after {
    left:-10px;
}               

.projects-grid-wrapper:hover .projects-grid-item:after, .projects-grid-item:focus .projects-grid-item:after {
    right:-10px;
}

.projects-grid-wrapper:hover .projects-grid-item:before, .projects-grid-item:focus .projects-grid-item:before {
    bottom:-10px;
}

/* Projects modal */

.modal {
    position: fixed;
    top: 15%;
    left: 20%;
    width: 60%;
    height: 70%;
    box-shadow: 4px 4px 10px black;
    background-color: inherit;
    background-position: top;
    background-size: cover;
    flex-direction: column;
    justify-content: space-around;
    z-index: 101;
    display: none;
    overflow: hidden;
    padding: 40px
}

.modal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 102;
    background-color: var(--secondary-color);
    opacity: 0.5;
}

.modal-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 100;
    display: none;
}

.modal-title {
    font-size: 25px;
    z-index: 103;
    color: var(--attention-color);
}

.modal-exit {
    z-index: 103;
    position: absolute;
    top: 4%;
    right: 4%;
}

.modal-exit i {
    font-size: 40px;
    color: var(--attention-color);
    cursor: pointer;
}

.modal ul {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    list-style-type: none;
    grid-gap: 10px;
}

.modal ul li {
    background-color: var(--primary-color);
    border-radius: 10px;
    font-size: 15px;
    padding: 20px;
}

.modal p, .modal ul {
    padding: 10px;
    z-index: 103;
    background-color: var(--secondary-color);
}

.modal p, .modal li {
    font-size: 16px;
    line-height: 2;
}

.modal-buttons {
    z-index: 103;
    width: 50%;
    justify-content: space-between;

}

.modal-button {
    background-color: var(--secondary-color);
    color: var(--attention-color);
    width: 40%;
    border-radius: 20px;
    z-index: 103;
    padding: 20px;
    border: 2px solid white;
}

.modal-button:hover {
    background-color: var(--primary-color);
}

/* About */

.about-row {
    width: 100%;
}

.about-row img {
    width: 400px;
    margin-right: 2%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 350px;
}

.about-description {
    flex: 1;
    background-color: #c4c4c405;
    padding: 20px;
    height: 100%;
}

.about-description p {
    font-size: 18px;
    line-height: 1.5;
}

.about-skills {
    background-color: #c4c4c405;
    width: 100%;
    margin: 2% 0;
    flex-direction: column;
    padding: 20px;
    flex: 1;
}

.about-skills h3 {
    font-size: 20px;
    padding: 20px;
}

.about-technologies {
    list-style-type: none;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.about-item {
    flex-direction: column-reverse;
    height: 100%;
    justify-content: flex-start;
    position: relative;
    padding: 10px;
    transition: transform 300ms ease-in;
}

.about-item p {
    padding: 10px;
}

.short {
    height: 90px;
}

.img-holder {
    flex-direction: column;
    flex: 1;
}

.about-item:hover {
    transform: translateY(-4%);
    background-color: var(--secondary-color);
}

.smaller {
    height: 45px;
}

/* Contact */

.contact-form {
    flex-direction: column;
    background-color: rgba(196, 196, 196, 0.1);
    height: 80%;
    padding: 20px;
    z-index: 200;
}

.contact-form input, .message {
    font-size: 18px;
    font-family: "Fjord One", serif;
    padding: 5px;
    color: black;
}

.name-group {
    margin-bottom: 20px;
    width: 100%;
    justify-content: space-between;
}

.name {
    margin-right: 20px;
}

.subject {
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
}

.message {
    font-size: 18px;
    font-family: "Fjord One", serif;
    height: 150px;
    width: 100%;
    padding: 5px;
}

.submit {
    padding: 25px;
    background-color: var(--secondary-color);
    width: 35%;
    margin: 30px 30px 10px 30px;
    font-size: 18px;
    cursor: pointer;
    transition: border-radius 200ms ease-in;
    border: 2px solid transparent;
}

.submit:hover {
    border: 2px solid var(--attention-color);
}